import(RGtk2)
import(RGtk2Extras)
import(gplots)
import(grDevices)
import(graphics)
importFrom("utils", "file.edit", "object.size")
## Exported functions:
export(dovc)
export(givemat)
export(givedim)
export(messagebox)
export(messageyesno)
export(inpboxc)
export(inpboxc2)
export(inpboxck)
export(inpboxcke)
export(inpboxcr2)
export(inpboxcr3)
export(inpboxcr4)
export(inpboxe1)
export(inpboxe2)
export(inpboxe2c)
export(inpboxe2k)
export(inpboxe2k2)
export(inpboxe2r2)
export(inpboxe3)
export(inpboxe3c)
export(inpboxe3ce)
export(inpboxe3k)
export(inpboxe3k2)
export(inpboxe4)
export(inpboxe4cek2)
export(inpboxe4k)
export(inpboxe4ck)
export(inpboxe4k2)
export(inpboxe4c2)
export(inpboxe4k3)
export(inpboxe4r2)
export(inpboxe5)
export(inpboxe5k3)
export(inpboxe6k2)
export(inpboxe6k3)
export(inpboxe6r2)
export(inpboxe7k2)
export(inpboxe7r2)
export(inpboxe8r2)
export(inpboxer3)
export(inpboxec)
export(inpboxecece)
export(inpboxek2)
export(inpboxk6)
export(inpboxk6k6e6)
export(inpboxk7k7)
export(inpboxlist)
export(inpboxr2)
export(inpboxc2k)
export(inpboxe3k3)
export(inpboxe4c2k)
export(workspace_management)

